.create-new-board-header {
    border: 2px solid;
    color: black; 
    font-family: "Permanent Marker", cursive;
    box-shadow: -15px 7px 1px black;
}

.hide-new-board-button {
    border-radius: 8px;
    font-size: 16px;
    margin: 2px;
    padding: 10px;
}