/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.App {
  text-align: center;
}
.App-main {
  background-color: whitesmoke;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 02fr 1.5fr;
  grid-template-areas:
  "header header header"
  "Boards Selected-boards New-board"
  "Cards Cards Create-card"
  ;
  gap: 1em;
}
#header {
  padding: 15px;
}
#Boards {
  grid-area: Boards;
  padding: 10px;
}
#Selected-boards {
  grid-area: Selected-boards;
  padding: 10px;
  background-color: red;
}
#New-board {
  grid-area: New-board;
  padding: 10px;
}
#Cards {
  grid-area: Cards;
  padding: 10px;
}
#Create-card {
  grid-area: Create-card;
  padding: 10px;
}

body{
  margin : 3rem;
  font-family:'open sans', sans-serif;
  color: black;
}

h1,h2 {
  font-family: 'Courier New';
  padding: 0.6em 1em;
}

h1,h2 {
  background-color: rgb(187,217,249);
  font-family: 'Courier New';
}


.no-bullets {
  list-style-type: none;
}
