main {
    padding: 1%;
}

button, .submit-button {
  appearance: none;
  background-color: #000000;
  border: none;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 600;
  line-height: normal;
  outline: none;
  text-align: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

button:disabled, .submit-button:disabled {
  pointer-events: none;
}

button:hover, .submit-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

button:active, .submit-button:active {
  box-shadow: none;
  transform: translateY(0);
}

.forms-component, .c {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h1, h2 {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.submit-button {
    margin: 0 auto;
}

.cards-display {
    display: flex;
    margin: 1%;
    margin: 10px;
    flex-direction: row;
    flex-basis: 25%;
}

.card-view {
    display: flex;
    flex-direction: column;
}

.card-buttons {
    display: flex;
    flex-direction: row;
}